.img-container {
  width: 100%;
}

.content {
  padding-top: 5%;
}

.container-section-1 {
  position: relative;
}

.child-container-1 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-child-container,
.right-child-container {
  width: 50%;
  padding: 0 70px;
}

.left-child-container {
  font-size: 65px;
  font-weight: 700;
}

.right-child-container {
  font-size: 40px;
  font-weight: 600;
  padding: 0 120px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: black;
  color: #fff;
  font-size: 34px;
  border-radius: 50px;
  padding: 13px 26px;
  cursor: pointer;
  transition: all .3s;
}
.btn-container button:hover{
  background-color: #fff;
  color: black;
}