.main-container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    width: 94%;
    align-items: center;
    justify-content: center;
  }
  
  .left-container {
    flex: 1;
    padding-right: 20px; /* Add some space between left and right containers */
  }
  
  .right-container {
    flex: 1;
  }
  
  .graph-heading {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
  
  .content-side {
    margin-top: 0;
    font-size: 38px;
    line-height: 43.67px;
  }
  
  .dummy-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height according to your needs */
  }
  
  .content-paragraph {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    width: 90%;
  }
  
  .read-button {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Toggle Switch Styles */
  /* Toggle Switch Styles */
.toggle-switch {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
  }
  
  .toggle-switch-checkbox {
    display: none;
  }
  
  .toggle-switch-label {
    display: block;
    position: relative;
    width: 100%; /* Adjust width to fit the labels */
    height: 34px;
    border-radius: 34px;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .toggle-switch-inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    z-index: 1;
    position: relative;
  }
  
  .toggle-switch-text {
    color: #fff;
    font-size: 14px;
    width: 50%;
    text-align: center;
  }
  
  .toggle-switch-switch {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 50%; /* Adjust width to fit the labels */
    height: 28px;
    border-radius: 20px;
    background-color: #000;
    z-index: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    transform: translateX(calc(100% - 6px)); /* Adjust based on the width of the switch */
  }
  