.whole-arrow-container{
    display: flex;
    padding-left: 10px;
}
.nft-content{
    padding-top: 7%;
}
.whole-arrow-container h1{
    font-size: 40px;
    line-height: 48.41px;
    font-weight: 700;
}
.content-whole-container{
    display: flex;
    flex-wrap: wrap;  
    width: 85%;  
}
.course-right-p{
    line-height: 26px;
}
.course-left-container {
    overflow-y: auto; 
    padding-right: 10px;
}
.course-left-container{

    background-color: #F8F8F8;
    width: 18%;
    padding-left: 30px;
    margin-left: 30px;
    height: 30rem;

}
.popup-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
.course-right-container{
    flex: 2;
    padding-left: 16px;
}
.course-right-container-2 h2{
    font-size: 28px;
}
.course-right-container-2 img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
.content-tabs a{
    text-decoration: none;
    color: #000000;
}
.content-tabs{
    padding-top: 30px;
    cursor: pointer;
}
.content-tabs .bold{
    font-weight: bold;
}
